@import "cge-responsive";
@import "cge-mixins";
@import "cge-palette";


* {	box-sizing: border-box; }

body {
	background: #ECF0F5;
}




.header-wrap {
	text-align: center;

	h1 {
		// font-size: 4rem;
		small {
			display: block;
			font-size: 30% !important;
		}
	}
}


.bet-box {
	border-radius: 60px;
}


.dice-control-wrap {
	img {
		width: 100px;

	}
}