.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#dice-container {
	height: auto;
	/*background-color: black;*/
    background: #101010;
	padding: 10px;
}
#dice-pull {
	font-size: 75px;
    border-radius: 0;
}
.dice {
	margin: 10px;
	height: 15vw;
    width: 15%;
    background-color: red;
    border-style: solid;
    border-width: 5px;
    /*border-radius: 2vw;*/
    border-radius: 2rem;
    /*border-color: gray;*/
    border: none;
}
.bet-box {
	height:  350px;
	line-height:  300px;
    border-color: #101010;
	border-style: solid;
	border-width: 10px;
	text-align: center;
	font-size: 45px;
	font-family: inherit;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
}
.tayaan-container {
    background: saddlebrown;
    width: 100%;
}

.dice-green {
    background:  #006442;
    label : "GREEN";
}

.dice-red {
    background: #8F1D21;
}

.dice-yellow {
    background: #F7CA18;
}

.dice-blue{
    background: #003171;
}

.dice-pink{
    background: #ffb3cc;
}

.dice-white{
    background: #ffffff;
}

.label-color{
    background: #ffffff;
}

.bet-box2 {
    height:  100px;
    line-height:  100px;
    border-color: #101010;
    border-style: solid;
    border-width: 10px;
    text-align: center;
    font-size: 35px;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
}

* {box-sizing:  border-box; }

h1 {

    font-family: 'Press Start 2P', cursive;
    margin-bottom: 4rem;
}
.footer h1{
    font-size: 1rem;
    margin-bottom: 10px;
}
.svg-wrap{
    width: 80px;
    margin-top: 2em;
}